body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.pet-screen {
    border: 4px solid #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
}

.pet-face {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-bottom: 20px;
}

.game-over { 
    color: red; 
    font-size: 30px; 
    font-weight: bold; 
    margin-bottom: 15px;
}


.boton {
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    box-shadow: 0px 4px 0px #c7861b; 
    margin: 5px;
}

.boton:active {
    position: relative;
    top: 4px;
    box-shadow: 0px 0px 0px #c7861b;
}

.boton:disabled {
    background: linear-gradient(to bottom, #aaa 5%, #888 100%);
    background-color: #aaa;
    border: 1px solid #777;
    color: #555;
    cursor: not-allowed;
    box-shadow: 0px 4px 0px #666;
    text-shadow: 0px 1px 0px #ccc;
    top: 0px; 
}